.user-badge {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: var(--border-radius);
    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    transition: all 0.2s ease-in-out;
}

.user-badge span {
    color: var(--font-color);
}

.user-badge:hover {
    outline-color: var(--font-color);
    transition: all 0.2s ease-in-out;
}

.user-badge:focus-visible {
    outline: none;
    outline: 5px solid var(--outline-color);
}

.user-badge:active .img-min {
    filter: grayscale(80%);
}

.profile-content__img {
    width: 100%;
    margin-bottom: var(--gap);
    border-radius: var(--border-radius);
}

.profile-table {
    margin-bottom: var(--gap);
}

.profile-table__td {
    padding: var(--gap) var(--gap) var(--gap) 0;
    vertical-align: text-top;
}

.profile-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: var(--gap);
}

.profile-change-err {
    margin-bottom: var(--gap);
    color: red;
}