@font-face {

    font-family: 'Muller';
    src: local('MullerMedium'),
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;

}

@font-face {

font-family: 'Muller';
src: local('MullerRegular'),
url('../fonts/MullerRegular.woff') format('woff'),
url('../fonts/MullerRegular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;

}

@font-face {

font-family: 'Muller';
src: local('MullerExtraBold'),
url('../fonts/MullerExtraBold.woff') format('woff'),
url('../fonts/MullerExtraBold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;

}

@font-face {

font-family: 'Muller';
src: local('MullerRegularItalic'),
url('../fonts/MullerRegularItalic.woff') format('woff'),
url('../fonts/MullerRegularItalic.woff2') format('woff2');
font-weight: 400;
font-style: italic;
font-display: swap;

}

@font-face {

font-family: 'Nexa';
src: local('Nexa'),
url('../fonts/nexa-script-bold.woff2') format('woff2');
font-weight: 500;
font-style: normal;
font-display: swap;

}


@font-face {

font-family: 'RussoOne';
src: local('RussoOne'),
url('../fonts/russo-one.woff2') format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;

}

@keyframes hide_section {
    from {
        display: block;
    }

    to {
        transform: translateX(-100%);
        display: none;
    }
}

@keyframes show_section {
    from {
        display: none;
        transform: translateX(100%);
    }

    50% {
        display: none;
        transform: translateX(100%);
    }

    to {
        display: block;
        transform: translateX(0);
    }
}

:root {
    --color-theme: #aaaca1;
    --color-theme-light: #7d8686;
    --color-theme-dark: #4d5354;
    --outline-color: rgba(0, 0, 255, 0.564);
    --border-radius: 10px;
    --font-color: rgb(96, 98, 89);
    --btn-hover-outline: rgb(245, 245, 145);
    --gap: 20px;
}
* {
    box-sizing: border-box;
}

html {
    font-family: 'Muller';
    font-size: 17px;
    color: var(--font-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input, textarea {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

.header {
    padding: var(--gap) 0;
    /* border-bottom: 1px solid var(--color-theme-light);
    box-shadow: 0 1px 1px var(--color-theme-light); */
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 35%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: var(--gap);
}

.flex-row-sp-between {
    justify-content: space-between;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.btn {
    display: block;
    padding: 10px;
    background-image: url("../img/texture-btn.jpg");
    background-size: cover;
    border-radius: var(--border-radius);
    color: var(--font-color);
    cursor: pointer;
    width: min-content;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    outline-color: var(--font-color);
    transition: all 0.2s ease-in-out;
}

.btn:focus-visible {
    outline: none;
    outline: 5px solid var(--outline-color);
}

.btn:active {
    filter: grayscale(80%);
}

.link {
    position: relative;
    padding: 10px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
    border-radius: var(--border-radius);
}

.link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.link:hover::after {
    transform: scaleX(1);
    transition: transform 0.2s ease-in-out;
}

.link:focus-visible {
    outline: none;
    outline: 5px solid var(--outline-color);
}

.link:active {
    color: black;
}

.img-min {
    width: 72px;
    height: 39px;
    border-radius: 10px;
}

.title-h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: var(--gap);
}

.title-h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: calc(var(--gap)/2);
}

.section {
    display: none;
    padding-top: calc(var(--gap)*2);
    padding-bottom: calc(var(--gap)*2);
    animation: hide_section 0.3s ease-in-out forwards;
}

.section--show {
    display: block;
    animation: show_section 0.6s ease-in-out forwards;
}

.label {
    margin-bottom: var(--gap);
}

.input, .textarea {
    height: 30px;
    padding: 10px;
    min-width: 100px;
    border: 1px solid var(--color-theme);
    border-radius: var(--border-radius);
    width: 100%;
}

.textarea {
    min-height: 150px;
}

.input:focus-visible, .textarea:focus-visible {
    outline: none;
    outline: 5px solid var(--outline-color);
}

.nav__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap);
}

.nav__item {
    position: relative;
}

.header__block {
    gap: var(--gap);
}

.base-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;
    padding: 13px 5px;
    overflow-y: scroll;
}

.base-list__item {
    width: 98%;
}

.base-list__item:not(:last-child) {
    margin-bottom: var(--gap);
}


.base-list__link {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap);
    padding: var(--gap);
    border-radius: var(--border-radius);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    outline-color: transparent;
    outline-style: solid;
    outline-width: 2px;
    outline-offset: 2px;
    transition: outline-color 0.2s ease-in-out;
}

.base-list__link:hover {
    outline-color: var(--font-color);
    transition: outline-color 0.2s ease-in-out;
}

.base-list__link:focus-visible {
    outline: none;
    outline: 5px solid var(--outline-color);
    outline-offset: -4px;
}

.base-list__link:active {
    color: white;
}

.base-list__link:active img {
    filter: grayscale(80%);
}