
.form-search-user {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: var(--gap);
    gap: var(--gap);
}

.label-search-user {
    width: 100%;
    margin: 0;
}

.btn-searh-user {
    height: min-content;
}

.users-list__link {
    background-image: url("../img/bg-user-card.jpg");
}

.users-article__img {
    width: 60px;
}